$white: #fff;
$black: #000;
$dark-01: rgb(37, 37, 37);
$dark-blue: #242F51;
$dark-white: #FDFDFE;
$light-blue: #2500F9;

$blank: $white;
$void: $black;
$head-nav: $dark-01;
$head-text-dark: $dark-blue;
$head-text-ligth: $dark-white;
$free-btn: $light-blue;