$white: #fff;
$black: #000;
$dark-01: rgb(37, 37, 37);
$dark-blue: #242F51;
$dark-white: #FDFDFE;
$dark-white-02: #E2EAED;
$light-blue: #2500F9;
$yellow: #FEAA25;
$gray: #616368;

$blank: $white;
$void: $black;
$head-nav: $dark-01;
$head-text-dark: $dark-blue;
$head-text-ligth: $dark-white;
$free-btn: $light-blue;
$home-text-bg: $dark-white-02;
$home-icon: $yellow;
$home-desc: $gray;